@media screen and (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

.button-theme {
    position: relative;
    border: 2px solid var(--transition);
    border-radius: 50px;
    overflow: hidden;
    pointer-events: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .65rem 1.75rem;
    font-size: 1rem;
    font-weight: 500;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button-theme:before {
    content: '';
    background-color: var(--primary-color);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-theme > span {
    position: relative;
    z-index: 2;
}

.button-theme:hover {
    color: var(--white);
}

.button-theme:hover:before {
    transform: translate3d(0, -102%, 0);
}

.button-theme.button-theme_primary {
    background: var(--primary-hover);
    color: var(--white);
}

.button-theme.button-theme_primary:before {
    background-color: var(--primary-color);
}

.button-theme.button-theme_secondary {
    background: var(--primary-hover);
    color: var(--primary-color);
}

.button-theme.button-theme_secondary:hover {
    color: var(--white);
}

.button-theme.button-theme_secondary:before {
    background-color: var(--white);
}

.slider-theme {
    position: relative;
}

.slider-theme .button-theme {
    border-radius: 50%;
    padding: 3px 0 0;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.slider-theme .button-theme.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider-theme .button-theme.button-prev {
    left: -52.5px;
}

.slider-theme .button-theme.button-next {
    right: -52.5px;
}

.section-gap {
    padding: 2rem 0;
}

.section-heading {
    margin-bottom: 1.5rem;
}

.section-heading .title {
    color: var(--gray-800);
    font-weight: 800;
    font-size: 2rem;
}

.header {
    background-color: var(--primary-color);
}

.header .header-logo img {
    max-height: 60px;
}

.header .header-navigation {
    display: flex;
    margin-left: auto;
    padding: 0 1rem;
}

.header .header-navigation > ul {
    display: flex;
    align-items: center;
}

.header .header-navigation > ul > li {
    position: relative;
}

.header .header-navigation > ul > li > a {
    color: var(--white);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    display: block;
}

.header .header-navigation > ul > li > a > i {
    font-size: 1.3rem;
    position: relative;
    top: 1px;
    margin-left: .25rem;
    transition: var(--transition);
}

.header .header-navigation > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--white);
    border-radius: 0 0 0.4rem 0.4rem;
    overflow: hidden;
    min-width: 250px;
    width: max-content;
    z-index: 11;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0.7);
    transition: var(--transition);
    transform-origin: top;
}

.header .header-navigation > ul > li > ul > li > a {
    width: 100%;
    background: var(--white);
    transition: var(--transition);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.25rem;
    font-size: 1.05rem;
    color: var(--gray-600);
}

.header .header-navigation > ul > li > ul > li + li {
    border-top: 1px solid var(--gray-100);
}

.header .header-navigation > ul > li > ul > li > a:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.header .header-navigation > ul > li > a:hover > i {
    transform: rotate(180deg)
}

.header .header-navigation > ul > li > a:hover {
    background-color: rgba(255, 255, 255, .1);
}

.header .header-navigation > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.header .header-user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.55rem 0;
}

.header .header-user .button-theme {
    font-size: 1.05rem;
    padding: .45rem 1.5rem;
}

.header .header-user .button-theme.button-theme_primary {
    border: 1px solid var(--white);
}

.header .header-user .button-theme + .button-theme {
    margin-left: .5rem;
}

.header .header-user > ul {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--white);
    border-radius: 0 0 0.4rem 0.4rem;
    overflow: hidden;
    min-width: 250px;
    width: max-content;
    z-index: 11;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0.7);
    transition: var(--transition);
    transform-origin: top;
}

.header .header-user > ul > li > a {
    width: 100%;
    background: var(--white);
    transition: var(--transition);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.25rem;
    font-size: 1.05rem;
    color: var(--gray-600);
}

.header .header-user > ul > li + li {
    border-top: 1px solid var(--gray-100);
}

.header .header-user > ul > li > a:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.header .header-user > ul > li > a:hover > i {
    transform: rotate(180deg)
}

.header .header-user > ul > li > a:hover {
    background-color: rgba(255, 255, 255, .1);
}

.header .header-user:hover > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.meta-box {
    box-shadow: var(--shadow-primary);
    padding: 1rem;
}

.meta-box .card-header img {
    width: 75px;
    height: auto;
}

.meta-box .card-body {
    padding-left: 0;
    padding-right: 0;
}

.meta-box .card-body .card-title {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.4;
}

.meta-box .card-body .card-desc {
    color: var(--gray-600);
    font-size: 1.1rem;
    overflow: hidden;
}

.section-banner .button-theme.button-prev {
    left: 30px;
    width: 55px;
    height: 55px;
    font-size: 1.7rem;
}

.section-banner .button-theme.button-next {
    right: 30px;
    width: 55px;
    height: 55px;
    font-size: 1.7rem;
}

.footer .footer-top {
    padding: 2rem 0;
    background-color: var(--white);
    border-top: 1px solid var(--gray-100);
}

.footer .footer-top .footer-title {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--gray-700);
    margin-bottom: .75rem;
}

.footer .footer-top .footer-list > ul {
    display: flex;
    flex-direction: column;
}

.footer .footer-top .footer-list > ul > li > a {
    display: inline-flex;
    font-size: 1rem;
    color: var(--gray-600);
    padding: .25rem 0;
}

.footer .footer-top .footer-list > ul > li > a:hover {
    color: var(--primary-color);
}

.footer .footer-images .footer-image {
    box-shadow: var(--shadow-primary);
    border-radius: .4rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.footer .footer-images .footer-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.footer .footer-item + .footer-item {
    margin-top: 1rem;
}

.footer .footer-bottom {
    padding: 2rem 0;
    background-color: var(--primary-color);
}

.footer .footer-bottom .footer-item .footer-title {
    font-size: 1.15rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: .75rem;
}

.footer .footer-bottom .footer-item .footer-text {
    font-size: .95rem;
    color: var(--gray-300);
}

.footer .footer-bottom .footer-item .footer-text + .footer-text {
    margin-top: .5rem;
}

.footer .footer-bottom .footer-item .footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .footer-bottom .footer-item .footer-social > a {
    border-radius: .2rem;
    background-color: var(--white);
    font-size: 1.3rem;
    color: var(--gray-600);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.footer .footer-bottom .footer-item .footer-social > a + a {
    margin-left: .75rem;
}

.footer .footer-bottom .footer-item .footer-social > a:hover {
    color: var(--primary-color);
}

.section-search_form {
    position: absolute;
    top: 50%;
    right: calc((100% - 1140px) / 2);
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    max-width: 550px;
}

.flatpickr-current-month span.cur-month,
.flatpickr-current-month .numInputWrapper {
    font-size: 1.1rem;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.flatpickr-day.today {
    border-color: var(--primary-color);
}

.page-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.page-search .page-search_inner {
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    box-shadow: var(--shadow-primary);
    border-radius: .4rem;
}

.page-search .form-choose-address {
    height: 95px;
    border-radius: .4rem;
}

@media screen and (min-width: 1024px) {
    .page-search .form-inner > .row,
    .page-search .form-inner > .row > [class*=col],
    .page-search .form-inner .inner {
        height: 100%;
    }
}

@media screen and (max-width: 991px) {
    .page-search {
        position: relative;
        background: transparent !important;
        box-shadow: none !important;
        margin-top: -75px !important;
    }

    .page-search .page-search_inner {
        padding: 1rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
    }

    .section-tab .form-inner .inner-last:before {
        display: none;
    }

    .section-tab .inner.inner-last {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.section-search {
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.section-search .search-tab .nav-tabs {
    border-bottom: 0;
    margin-bottom: 0;
}

.section-search .search-tab .nav-tabs .nav-link {
    background-color: rgba(255, 255, 255, .75);
    color: var(--gray-800);
    font-weight: 600;
    font-size: 1.15rem;
    padding: .75rem 1.75rem;
    border-color: transparent !important;
}

.section-search .search-tab .nav-tabs .nav-item + .nav-item {
    margin-left: .5rem;
}

.section-search .search-tab .nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 1);
    color: var(--primary-color);
}

.section-search .search-tab .search-inner {
    background-color: var(--white);
    border-radius: 0 .2rem .2rem;
    box-shadow: rgb(0 0 0 / 10%) 0 8px 16px;
    padding: 1.25rem;
}

.section-search .search-tab .search-inner .inner > label {
    font-size: 1rem;
    color: var(--gray-900);
    font-weight: 700;
    margin-bottom: .5rem;
}

.section-search .search-tab .search-inner .inner .box-inner {
    height: 48px;
    display: flex;
    border-radius: 4px;
    padding: 10px 10px 10px 15px;
    background-color: #f1f2f6;
    position: relative;
}

.section-search .search-tab .search-inner .inner .box-inner .form-date {
    position: absolute;
    height: 100%;
    padding-left: 40px;
    padding-right: 15px;
    left: 0;
    right: 0;
}

.section-search .search-tab .search-inner .inner .button-theme {
    height: 48px;
    font-size: 1.05rem;
    font-weight: 700;
}

.section-search .search-tab .search-inner .inner .box-inner > i {
    color: var(--primary-color);
    font-size: 1.1rem;
}

.section-search .search-tab .search-inner .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
    height: 100%;
    border-radius: 0;
}

.section-search .search-tab .search-inner .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--gray-400);
    font-size: 1rem;
    font-weight: 400 !important;
}

.section-search .search-tab .search-inner .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 700;
    color: var(--gray-800);
    line-height: 30px;
}

.section-search .search-tab .search-inner .inner > .select2-container {
    left: 0 !important;
    bottom: 0px;
    top: unset !important;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown {
    min-width: 300px !important;
    border: 1px solid #dee2ee;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-search__field {
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border: 1px solid #dee2ee;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results {
    margin-top: 3px;
    border-top: 1px dotted #dee2ee;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results > .select2-results__options {
    max-height: 450px;
    overflow-y: auto;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 4px;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-track {
    border-left: .5px solid #dedede;
    border-top: .5px solid #dedede;
    border-bottom: .5px solid #dedede
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 4px;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li {
    padding: 10px;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .select2-results__option[aria-selected=true],
.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li.select2-results__option--highlighted[aria-selected] {
    background-color: #f1f2f6;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-icon {
    width: 40px;
    flex-shrink: 0;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-content {
    width: calc(100% - 100px);
    flex-shrink: 0;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-code {
    width: 60px;
    flex-shrink: 0;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-icon,
.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-subtitle,
.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-code {
    color: #232323 !important;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-subtitle,
.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-code {
    font-size: .85em;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li .sel-title {
    font-weight: 500;
    color: #232323;
    font-size: 1.025em;
}

.section-search .search-tab .search-inner .inner > .select2-container .select2-dropdown .select2-results ul li:hover .sel-title {
    color: #232323;
}

.section-search .search-tab .search-inner .inner .box-inner .dropdown-toggle::after {
    border-top-color: #888;
    border-width: 5px 4px 0 4px;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(53 64 90 / 20%);
    border-radius: 4px;
    width: 350px;
    top: calc(100% + 1px);
    left: 0;
    z-index: 100;
    display: none;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-close {
    cursor: pointer;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-list-item-title {
    font-size: 1em;
    font-weight: 700;
    color: #343434;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-list-item-subtitle {
    font-size: .95em;
    font-weight: 400;
    color: #333;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-circle {
    height: 25px;
    width: 25px;
    border: 1px solid var(--primary-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232323;
    font-size: .95em;
    border-radius: 4px;
    cursor: pointer;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-circle.disabled {
    cursor: not-allowed;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #a9a9a9;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-counter {
    margin-left: 20px;
    margin-right: 20px;
    color: #232323;
    font-size: 1.1em;
}

.section-search .search-tab .search-inner .inner .passenger-dropdown-content .passenger-dropdown-container .passenger-list-item + .passenger-list-item {
    border-top: 1px solid #e9e9e9;
}

.section-search .search-tab .search-inner .form-check_inner .form-check {
    margin-right: 20px;
    position: relative;
}

.section-search .search-tab .search-inner .form-check_inner .form-check > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.section-search .search-tab .search-inner .form-check_inner .form-check label {
    position: relative;
    padding-left: 30px;
    font-size: 1.1rem;
    font-weight: 700;
}

.section-search .search-tab .search-inner .form-check_inner .form-check label:before {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    border: 1px solid var(--gray-400);
    border-radius: 50%;
    display: block;
    content: "";
    transition: var(--transition);
}

.section-search .search-tab .search-inner .form-check_inner .form-check label:after {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    content: "";
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.section-search .search-tab .search-inner .form-check_inner .form-check input:checked ~ label:before {
    border-color: var(--primary-color);
}

.section-search .search-tab .search-inner .form-check_inner .form-check input:checked ~ label:after {
    opacity: 1;
    visibility: visible;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--bg-light);
}

.card-sidebar_item .card-header {
    background-color: var(--white);
    padding: 10px;
}

.card-sidebar_item .card-header .card-title {
    margin-bottom: 0;
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.card-sidebar_item .card-header .card-title > span {
    color: var(--white);
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-size: .85rem;
}

.card-sidebar_item .card-header .card-title > a {
    font-weight: 400;
    color: #007bff;
    font-size: 1rem;
    text-decoration: underline;
}

.card-sidebar_item .card-header .card-title > a:hover {
    color: var(--primary-color);
}

.card-sidebar_item .card-body {
    background-color: #f9f9f9;
    padding: 10px;
}

.card-sidebar_item .card-body .form-check {
    display: flex;
    position: relative;
    padding-left: 0;
}

.card-sidebar_item .card-body .form-check > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.card-sidebar_item .card-body .form-check label {
    position: relative;
    padding-left: 25px;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.card-sidebar_item .card-body .form-check label:before {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border: 1px solid var(--gray-400);
    border-radius: 50%;
    display: block;
    content: "";
    transition: var(--transition);
}

.card-sidebar_item .card-body .form-check label:after {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    height: 7px;
    width: 7px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    content: "";
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.card-sidebar_item .card-body .form-check input:checked ~ label:before {
    border-color: var(--primary-color);
}

.card-sidebar_item .card-body .form-check input:checked ~ label:after {
    opacity: 1;
    visibility: visible;
}

.card-sidebar_item .card-body .form-check img {
    margin-left: auto;
    height: 22px;
}

.card-sidebar_item .card-body .form-check + .form-check {
    margin-top: 8px;
}

.card-sidebar_item + .card-sidebar_item {
    margin-top: 20px;
}

.section-flight .flight-order .top .title {
    color: var(--gray-900);
    font-size: 1.2rem;
    font-weight: 700;
}

.section-flight .flight-order .top .title i {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.section-flight .flight-order .bottom ul li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-top: 1px solid var(--gray-100);
}

.section-flight .flight-order .bottom ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 8px 10px;
    transition: .2s all ease;
    background-color: #f9f9f9;
    border-top: 1px solid var(--gray-200);
    border-right: 1px solid var(--gray-200);
    position: relative;
    height: 100%;
}

.section-flight .flight-order .bottom ul li a:before {
    height: 3px;
    background-color: var(--primary-color);
    top: -1px;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    opacity: 0;
    visibility: hidden;
    transition: .2s all ease;
}

.section-flight .flight-order .bottom ul li:last-child a {
    border-right: 0;
}

.section-flight .flight-order .bottom ul li a .day {
    font-size: 1.1rem;
    color: var(--gray-900);
    transition: .2s all ease;
}

.section-flight .flight-order .bottom ul li a .text {
    color: var(--gray-600);
    transition: .2s all ease;
    font-size: .9rem;
}

.section-flight .flight-order .bottom ul li a .text-danger {
    font-size: .9rem;
    font-weight: 700;
}

.section-flight .flight-order .bottom ul li:not(:last-of-type) {
    border-right: 1px solid var(--gray-100);
}

.section-flight .flight-order .bottom ul li.active a,
.section-flight .flight-order .bottom ul li a:hover {
    background-color: var(--white);
}

.section-flight .flight-order .bottom ul li.active a:before {
    opacity: 1;
    visibility: visible;
}

.section-flight .flight-order .bottom ul li.active a .day,
.section-flight .flight-order .bottom ul li.active a .text {
    color: var(--primary-color);
    font-weight: 700;
}

.card-flight {
    background-color: var(--white);
    border-radius: 0;
    border: 1px solid #dee2e6;
    border-top: 0;
    border-bottom: 0;
    position: relative;
    overflow: hidden;
}

.card-flight:last-child {
    border-radius: 0 0 .25rem .25rem;
    border-bottom: 1px solid #dee2e6;
}

.card-flight + .card-flight {
    border-top: 1px solid #dee2e6;
}

.card-flight .card-body {
    padding: 0;
}

.card-flight .card-body .card-link {
    display: flex;
    align-items: center;
}

.card-flight .card-body .card-link:hover {
    background-color: #fdfcfc;
}

.card-flight .card-body .card-link > * {
    padding: 10px;
    flex-shrink: 0;
}

.card-flight .card-body .card-link > .card-image {
    width: 11%;
}

.card-flight .card-body .card-link > .card-image img {
    max-height: 25px;
}

.card-flight .card-body .card-link > .card-code {
    font-size: 1rem;
    color: var(--gray-700);
    font-weight: 500;
    width: 8.5%;
}

.card-flight .card-body .card-link > .card-time {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 700;
    width: 16.5%;
}

.card-flight .card-body .card-link > .card-meta {
    width: 20%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--gray-800);
}

.card-flight .card-body .card-link > .card-meta span i {
    color: #F79321;
    font-size: 1.1rem;
    position: relative;
    top: 1px;
}

.card-flight .card-body .card-link > .card-meta span + span {
    margin-left: 10px;
}

.card-flight .card-body .card-link > .card-price {
    color: var(--danger);
    font-weight: 700;
    font-size: 1.1rem;
    width: 12.5%;
}

.card-flight .card-body .card-link > .card-price sup {
    text-decoration: underline;
}

.card-flight .card-body .card-link > .card-toggle {
    width: 12.5%;
}

.card-flight .card-body .card-link > .card-toggle > button {
    color: #007bff;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.card-flight .card-body .card-link > .card-toggle > button > span {
    height: 20px;
    width: 20px;
    background-color: #efefef;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.card-flight .card-body .card-link > .card-toggle > button[aria-expanded=true] > span i:before {
    content: "\f068";
}

.card-flight .card-body .card-link > .card-button {
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-flight .card-body .card-link > .card-button > span {
    position: relative;
    border: 2px solid var(--transition);
    border-radius: 4px;
    overflow: hidden;
    pointer-events: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.35rem .75rem .25rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    background-color: var(--danger);
    color: var(--white);
    box-shadow: 1px 1px 2px #eeeeee;
}

.card-flight .card-footer .card-inner {
    padding: 10px;
    border-top: 1px solid #dee2e6;
    background-color: #f9f9f9;
}

.card-flight .card-footer .card-inner .top {
    line-height: 1.7;
    font-size: .95rem;
}

.card-flight .card-footer .card-inner .top .title {
    font-weight: 700;
    color: var(--gray-900);
    font-size: 1rem;
}

.card-flight .card-footer .card-inner .top b {
    color: var(--gray-900);
}

.card-flight .card-footer .card-inner .top .logo img {
    height: 25px;
}

.card-flight .card-footer .card-inner .middle {
    border-top: 1px dashed var(--gray-200);
    border-bottom: 1px dashed var(--gray-200);
    padding: 10px 0;
    line-height: 1.7;
    font-size: .95rem;
}

.card-flight .card-footer .card-inner .middle .desc {
    color: #999;
    font-weight: 700;
}

.card-flight .card-footer .card-inner .middle b {
    color: var(--gray-900);
}

.card-flight .card-footer .card-inner .bottom {
    padding: 10px 0 0;
    line-height: 1.7;
    font-size: .95rem;
}

.card-flight .card-footer .card-inner .bottom .item .title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray-900);
}

.card-flight .card-footer .card-inner .bottom .item + .item {
    margin-top: 15px;
}

.section-flight_round .card-flight .card-body .card-link > * {
    padding: 8px;
}

.section-flight_round .card-flight .card-body .card-link > .card-image {
    width: 14%;
}

.section-flight_round .card-flight .card-body .card-link > .card-code {
    font-size: .95rem;
    width: 14%;
}

.section-flight_round .card-flight .card-body .card-link > .card-time {
    width: 27%;
    font-size: 1rem;
}

.section-flight_round .card-flight .card-body .card-link > .card-price {
    width: 21%;
    font-size: 1rem;
}

.section-flight_round .card-flight .card-body .card-link > .card-toggle {
    width: 7%;
}

.section-flight_round .card-flight .card-body .card-link > .card-button {
    width: 17%;
}

.section-flight_round.section-flight .flight-order .bottom ul li a .day {
    font-size: 1rem;
}

.section-flight_round.section-flight .flight-order .bottom ul li a .text,
.section-flight_round.section-flight .flight-order .bottom ul li a .text-danger {
    font-size: 13px;
}

.section-flight_round .card-flight .card-footer .card-inner .top .title {
    font-size: .9rem;
}

.section-flight_round .card-flight .card-footer .card-inner .middle {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.section-flight_round .card-flight .card-footer .card-inner .middle::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

.section-flight_round .card-flight .card-footer .card-inner .middle::-webkit-scrollbar-track {
    background: #cecece;
    height: 4px;
}

.section-flight_round .card-flight .card-footer .card-inner .middle::-webkit-scrollbar-thumb {
    background: #afafaf;
    height: 4px;
}

.section-flight_round .card-flight .card-footer .card-inner .middle::-webkit-scrollbar-thumb:hover {
    height: 4px;
}

.card-recommended {
    border-radius: 0.4rem !important;
}

.card-recommended .card-img {
    height: 275px;
    border-radius: 0;
    background-size: cover;
    background-position: 50%;
    transition: transform .25s ease-out;
}

.card-recommended .card-img-overlay {
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    background: transparent;
}

.card-recommended .card-img-overlay .card-inner {
    padding: 20px;
    position: relative;
}

.card-recommended .card-img-overlay .card-inner .card-subtitle {
    font-weight: 400;
    color: #f1f1f1;
}

.card-recommended .card-img-overlay .card-inner .card-title {
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    font-size: 1.5em;
}

.card-recommended .card-img-overlay .card-inner .card-title i {
    position: absolute;
    top: 3px;
    font-size: .9em;
    left: -70px;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended .card-img-overlay .card-inner .card-line {
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    margin: 20px 0;
}

.card-recommended .card-img-overlay .card-inner .card-price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended .card-img-overlay .card-inner .card-price small {
    font-weight: 400;
    color: #f1f1f1;
    display: inline-block;
}

.card-recommended .card-img-overlay .card-inner .card-price span {
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

.card-recommended .card-img-overlay .card-inner .card-price span sup {
    top: -5px;
}

.card-recommended .card-img-overlay .card-inner .card-action {
    position: absolute;
    bottom: 20px;
    right: 40px;
    opacity: 0;
    font-size: 1.6em;
    color: #f1f1f1;
    visibility: hidden;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended:hover .card-img {
    transform: scale(1.1);
}

.card-recommended:hover .card-img-overlay {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .5);
}

.card-recommended:hover .card-img-overlay .card-inner .card-title {
    padding-left: 30px;
}

.card-recommended:hover .card-img-overlay .card-inner .card-title i {
    left: 0;
}

.card-recommended:hover .card-img-overlay .card-inner .card-line {
    width: 100%;
}

.card-recommended:hover .card-img-overlay .card-inner .card-price {
    bottom: 110px;
}

.card-recommended:hover .card-img-overlay .card-inner .card-action {
    right: 20px;
    opacity: 1;
    visibility: visible;
}

.card-tour_item {
    display: flex;
    align-items: stretch;
    box-shadow: var(--shadow-hover);
    border: 1px solid var(--gray-100);
}

.card-tour_item > * {
    padding: 1rem;
    flex-shrink: 0;
    border-right: 1px solid var(--gray-200);
}

.card-tour_item > *:last-child {
    border-right: 0;
}

.card-tour_item .tour-item_image {
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-tour_item .tour-item_image .airways {
    color: var(--gray-900);
    font-weight: 700;
    font-size: 1rem;
    margin-top: .5rem;
}

.card-tour_item .tour-item_content {
    width: 25%;
}

.card-tour_item .tour-item_content .title {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--gray-900);
}

.card-tour_item .tour-item_content .title span {
    font-size: .95rem;
}

.card-tour_item .tour-item_content .meta {
    margin-top: .25rem;
    display: flex;
    align-items: center;
}

.card-tour_item .tour-item_content .meta .text {
    width: 90px;
    font-size: 1rem;
    color: #F79321;
}

.card-tour_item .tour-item_content .meta .text i {
    font-size: 1.15rem;
    position: relative;
    top: 1px;
    margin-right: 5px;
    width: 14px;
}

.card-tour_item .tour-item_road {
    padding: 0;
    width: 40%;
}

.card-tour_item .tour-item_road .item {
    display: flex;
    align-items: center;
}

.card-tour_item .tour-item_road .item .item-content {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 33.3333%;
}

.card-tour_item .tour-item_road .item .item-content + .item-content {
    border-left: 1px solid var(--gray-200);
}

.card-tour_item .tour-item_road .item .item-content .text {
    font-size: .95rem;
    color: var(--gray-400);
    font-weight: 500;
}

.card-tour_item .tour-item_road .item .item-content .desc {
    font-size: 1rem;
    color: var(--gray-900);
    white-space: nowrap;
    font-weight: 600;
}

.card-tour_item .tour-item_button {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-tour_item .tour-item_button .price {
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    margin-bottom: .5rem;
}

.card-tour_item .tour-item_button .price ins {
    text-decoration: none;
    color: var(--danger);
    font-weight: 700;
    font-size: 1rem;
}

.card-tour_item .tour-item_button .button-theme {
    font-size: .95rem;
    border-radius: .4rem;
    padding: .5rem 0.75rem .35rem;
}

.card-tour_item .tour-item_road .item + .item {
    border-top: 1px solid var(--gray-200);
}


.card-tour_item + .card-tour_item {
    margin-top: 1.25rem;
}